<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <link rel="icon" href="data:,">
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
  <h1>Churn Prediction Analysis(0(churn), 100(not churn))</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<div style="margin: 25px;">
	        <input type="text" name="CreditScore" class="form-control" style="margin: 3px" placeholder="Credit Score(eg: 632)">
	        <input type="text" name="Geography" class="form-control" style="margin: 3px" placeholder="Geography (Germany, France, Spain)">
	        <input type="text" name="Gender" class="form-control" style="margin: 3px" placeholder="Gender(Male, Female)">
	        <input type="text" name="Age" class="form-control" style="margin: 3px" placeholder="Age(eg: 25)">
	        <input type="text" name="Tenure" class="form-control" style="margin: 3px" placeholder="Tenure(Time since member)">

	        <input type="text" name="Balance" class="form-control" style="margin: 3px" placeholder="Balance(eg: 500000)">
	        <input type="text" name="NumOfProducts" class="form-control" style="margin: 3px" placeholder="Num Of Products(eg: 2)">
	        <input type="text" name="HasCrCard" class="form-control" style="margin: 3px" placeholder="Has Credit Card('1'=Yes, '0'=No)">
	        <input type="text" name="IsActiveMember" class="form-control" style="margin: 3px" placeholder="Is Active Member?('1'=Yes, '0'=No)">
	        <input type="text" name="EstimatedSalary" class="form-control" style="margin: 3px" placeholder="Estimated Salary(eg: 25000)">
    	</div>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ predicted_value }}

 </div>


</body>
</html>
